img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
}
h1,
h2 {
    text-align: center;
}
h1 {
    font-size: 40px;
}